<p> Updation of Plant Spacing </p>

<%= form_for @plant_spacing, :url => plant_spacing_path(@plant_spacing) do |f| %>    

    <%= render :partial => 'form',  :locals => { :f => f }  %>    

<% end %>
