<p> Updation of Plucking Rounds </p>

<%= form_for @plucking_round, :url => plucking_round_path(@plucking_round) do |f| %>    

    <%= render :partial => 'form',  :locals => { :f => f }  %>    

<% end %>
