
    <%= render "shared/error_messages", :target => @section %>

    <p>
       <%= f.label :name, "Estate Name" %> <br/>
       <%= f.text_field :name %>
    </p>

    <p> <%= f.submit(@estate.new_record? ? "Create Estate" : "Update Estate") %> </p>
