<!DOCTYPE html>
<html>
<head>
  <title>Th</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", 'jquery' %>
  
  <script>
     var $j = jQuery.noConflict();
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
